<link href="~/Content/Estilos.css" rel="stylesheet" />
<div class="container">
    @{
        ViewBag.Title = "Contacto";
    }
    <h2 class="titulos1">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Ante cualquier problema ocasionado por favor contactanos!<br />
        Estamos a tu disposicion<br />
    </address>

    <address>
        <strong>Centro de ayuda: </strong>   <a href="mailto:florencialuppi@outlook.com.ar">florencialuppi@outlook.com.ar</a><br />
    </address>

</div>
